{#
/**
 * @file ding_customer.html.twig
 * Default theme implementation to present Ding customer data.
 *
 * This template is used when viewing Ding customer pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ding_customer()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ding_customer') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
