{{ attach_library('dingding/ding_isv_assets') }}
<!-- config中signature由jsticket产生，若jsticket失效，则signature失效，表现为dd.error()返回“权限校验失败”之错误。 -->
<!-- 在请求新的jsticket之后，旧的ticket会失效，导致旧ticket产生的signature失效。 -->
<script type="text/javascript">var dingconfig ={{ config|raw }}; var _config = JSON.parse(dingconfig)</script>
<button class="btn btn-block btn-default chooseonebtn">选择朋友发消息</button>
<button class="btn btn-block btn-default phonecall">给朋友打电话</button>
<div>
    <h3>支持机构</h3>
    <p>北京盛讯美恒科技发展有限公司</p>
    <p>官网： &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.linuxce.cn">http://www.linuxce.cn</a></p>
    <p>手机生产力网站： <a href="http://www.zerogame.cn">http://www.zerogame.cn</a></p>
    <p>电话：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;010-82482839</p>
    <p>销售咨询</p>
    <p>服务QQ：  <a href="tencent://message/?Menu=yes&amp;uin=800145724&amp;Service=58&amp;SigT=A7F6FEA02730C988C23559D71CD55933A61CF38A9DC815A6690716D5B7D47024C7E81DAF14469724C08D524817A72CF682C10A686ADFFE0DDF7E02C3605C404BF498C5D4C053F9409B0AC2EAB53AE434F45118A03896713510EB372213DF08474782515C4211DE5B21D4EBC277EC879640BD6E1BEB4A1B9E&amp;SigU=30E5D5233A443AB274C2BA307182803342F0590A7F8AE8755F480B20517FD15CD4BA3BC01C56F97D42D3EFF97564ACE30A53DEBBCB6D1C844B38C5AB5A1622090268D35124E73A59">800145724</a></p>
    <p>产品支持：support@linuxce.cn</p>
</div>
