{#
/**
 * @file ding_config.html.twig
 * Default theme implementation to present Ding config data.
 *
 * This template is used when viewing Ding config pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ding_config()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ding_config') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
