{#
/**
 * @file ding_message.html.twig
 * Default theme implementation to present Ding message data.
 *
 * This template is used when viewing Ding message pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ding_message()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ding_message') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
